#def submenu
<ul>
	<li><a href="/tv/filter">filter</a></li>
	<li><a href="/tv/multiepisode">multiepisode</a></li>
	<li><a href="/tv/template">template</a></li>
</ul>
#end def

#include $template_dir + "/_template.tmpl"
