#!/bin/sh

# Copyright 2009 Kieran Elliott <kierse@mediarover.tv>
#
# Media Rover is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Media Rover is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# OSX hack: SABnzbd on Mac OSX comes bundled with all Python libraries
# necessary for its function.  Because of this, SABnzbd sets PYTHONHOME
# to point to its own Python libraries.  This causes a problem for Media
# Rover due to the fact that some of the key Python libraries are not
# bundled.  Therefore, we delete PYTHONHOME before invoking Media Rover
unset PYTHONHOME

# filesystem path where Media Rover is installed
ROOT=/PATH/TO/MEDIAROVER

# filesystem path to configuration directory
CONFIG=$HOME/.mediarover

python $ROOT/mediarover.py episode-sort -c "$CONFIG" "$@"

