#!/bin/sh

# Copyright 2009 Kieran Elliott <kierse@mediarover.tv>
#
# Media Rover is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Media Rover is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# filesystem path where Media Rover is installed
ROOT=/Applications/mediarover

# filesystem path to configuration directory
CONFIG=$HOME/.mediarover

# filesystem path to sabnzbd library zip archive
ARCHIVE=/Applications/SABnzbd.app/Contents/Resources/lib/python2.5/site-packages.zip

# change to application directory so that relative template
# directories in config file work properly
cd $ROOT

python $ROOT/mrconfig.py -c "$CONFIG" --library "$ARCHIVE"

