<html>
	<head>
		{% if page.title == '' %}
		<title>Media Rover</title>
		{% else %}
		<title>Media Rover: {{page.title}}</title>
		{% endif %}
		<link rel="stylesheet" href="{{site.url}}/styles/default.css" type="text/css" media="screen" />
	</head>

	<body>
		<div class="container">
			<ul class="menu">
				<li><a href="{{site.url}}/#introduction">Introduction</a></li>
				<li><a href="{{site.url}}/#usage">Usage</a></li>
				<li><a href="{{site.url}}/#dependencies">Dependencies</a></li>
				<li><a href="{{site.url}}/#installation">Installation</a></li>
				<li><a href="{{site.url}}/#license">License</a></li>
				<li><a href="{{site.url}}/#contact">Contact</a></li>
				<br />
				<li><a href="{{site.url}}/announcements">Announcements</a></li>
				<li><a href="http://github.com/kierse/mediarover">Project</a></li>
				<li><a href="http://wiki.github.com/kierse/mediarover">Wiki</a></li>
				<li><a href="http://github.com/kierse/mediarover/issues">Issue tracker</a></li>
				<br />
				<li class="twitter"><a href="http://twitter.com/mediarover">Follow on Twitter!</a></li>
				<br />
				<li class="donate">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="10626219">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</li>
			</ul>
			<div class="content">
				{% if page.title == '' %}
					<h1><a href="{{site.url}}">Media Rover</a></h1>
				{% else %}
					<h1><a href="{{site.url}}">Media Rover</a>: {{page.title}}</h1>
				{% endif %}
				<hr>
				{{content}}
			</div>
		</div>
	</body>
</html>
