<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="/styles/default.css" type="text/css" media="screen" />
	</head>

	<body>
		<div class="container">
			<ul class="menu">
				<li><a href="#introduction">Introduction</a>
				<li><a href="#motivation">Motivation</a>
				<li><a href="#usage">Usage</a>
				<li><a href="#dependencies">Dependencies</a>
				<li><a href="#installation">Installation</a>
				<li><a href="#license">License</a>
				<li><a href="#contact">Contact</a>
			</ul>
			<div class="content">
				{{content}}
			</div>
		</div>
	</body>
</html>
