<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="styles/default.css" type="text/css" media="screen" />
	</head>

	<body>
		<div class="container">
			<ul class="menu">
				<li><a href="#introduction">Introduction</a></li>
				<li><a href="#usage">Usage</a></li>
				<li><a href="#dependencies">Dependencies</a></li>
				<li><a href="#installation">Installation</a></li>
				<li><a href="#license">License</a></li>
				<li><a href="#contact">Contact</a></li>
				<br />
				<li><a href="http://github.com/kierse/mediarover">Project</a></li>
				<li><a href="http://wiki.github.com/kierse/mediarover">Wiki</a></li>
				<li><a href="http://github.com/kierse/mediarover/issues">Issue tracker</a></li>
				<br />
				<li class="twitter"><a href="http://twitter.com/mediarover">Follow on Twitter!</a></li>
			</ul>
			<div class="content">
				{{content}}
			</div>
		</div>
	</body>
</html>
