body
{
	background-color: white;
	color: #6b6b73;
	font-family: helvetica,arial,clean,sans-serif;
}

a 
{
	text-decoration: none;
	color: #514a4a;
	font-weight: bold;
}

div.container
{
	width: 915px;
	margin: 15px auto;
	padding: 3px;
	position: relative;
	border: 5px solid #f8f8f8;
	background-color: #f0f0f0;
}

ul.menu
{
	width: 200px;
	list-style-type: none;
	top: 0;
	right: 0;
	position: absolute;
	padding: 0;
	margin-top: 50px;
	text-indent: 15px;
}

ul.menu a
{
	display: block;
	padding: 5px 0;
}

ul.menu a:hover
{
	background-color: #f8f8f8;
}

ul.menu li.twitter
{
	text-indent: 40px;
	font-style: italic;
	background-image: url('/images/twitter.jpg');
	background-position: 15px 3px;
	background-repeat: no-repeat;
}

div.content
{
	width: 700px;
	margin-left: auto;
	margin-right: 225px;
	padding: 5px;
}

div.content h1
{
	width: 700px;
	margin: 0px 225px 0px 0px;
	color: #818acd;
	font-family: serif;
}

div.content h3, h4
{
	margin-bottom: 15px;
}

div.content p
{
	padding: 5px 0;
}

div.content hr
{
	background-color: #e0dddd;
	color: #e0dddd;
	height: 1px;
	margin: 15px 0px;
}

div.content p
{
	margin: 0px 10px;
}

div.content pre code
{
	display: block;
	margin: 0px 25px;
	padding: 5px;
	border: 1px solid #f8f8f8;
	background-color: #fffffc;
	color: black;
}

img.download
{
	border: none;
}
